ul {
    list-style-type: none;
    background-color: #1e1f22;
    padding: 12px;
    width: 175px;
    text-align: center;
    margin: auto;
}

.middle {
    margin: 12px auto;
}

a {
    display: inline-block;
    background-color: #313338;
    text-decoration: none;
    color: #dbdee1;
    padding: 10px;
    width: 150px;
    text-align: center;
    border-radius: 200px;
}

a:hover {
    background-color: #5865F2;
}

li:hover {
    list-style-type: disc;
}
